<mat-card class="card-element">
  <div class="flex-container">
    <div>
      <h2 style="margin-left: 1.5rem; margin-bottom: 0.1rem">
        {{ town.city }}
      </h2>
      <p style="margin-left: 1.5rem; margin-top: 0.1rem">
        {{ town.state }}
      </p>
    </div>
    <div class="flex-container align-to-end">
      <div>
        <h1 style="margin-right: 1.5rem">{{ town.temperature }}°C</h1>
      </div>
      <div>
        <img mat-card-md-image [src]="iconSrc" />
      </div>
    </div>
  </div>
</mat-card>
