.card-element {
  width: 500px;
  height: 100px;
  margin-top: 2rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.align-to-end {
  margin-right: 1.5rem;
}
