<div class="main-container">
  <div class="input-and-button-container">
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>City</mat-label>
      <input matInput type="text" [(ngModel)]="inputValue" />
      <button
        *ngIf="inputValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="inputValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div
      [matTooltip]="
        !inputValue
          ? 'No value given'
          : notLoadedList.includes(inputValue.toLowerCase()) ||
            cityList.includes(inputValue.toLowerCase())
          ? 'The given city has already appeared'
          : ''
      "
      matTooltipPosition="below"
    >
      <button
        mat-raised-button
        color="primary"
        (click)="addCity()"
        [disabled]="
          !inputValue ||
          notLoadedList.includes(inputValue.toLowerCase()) ||
          cityList.includes(inputValue.toLowerCase())
        "
        [ngStyle]="{
          cursor:
            !inputValue ||
            notLoadedList.includes(inputValue.toLowerCase()) ||
            cityList.includes(inputValue.toLowerCase())
              ? 'no-drop'
              : 'pointer'
        }"
      >
        Search
      </button>
    </div>
  </div>

  <div *ngFor="let city of cityList.reverse()">
    <mat-card
      class="card-element"
      [routerLink]="!notLoadedList.includes(city) ? ['/cities'] : []"
      [queryParams]="!notLoadedList.includes(city) ? { city: city } : {}"
      [ngStyle]="{
        cursor: !notLoadedList.includes(city) ? 'pointer' : 'no-drop'
      }"
    >
      <button mat-icon-button style="float: right" (click)="deleteCity(city)">
        <mat-icon>close</mat-icon>
      </button>
      <app-card [city]="city" (notLoadedEvent)="addItemToNotLoadedList($event)">
      </app-card>
    </mat-card>
  </div>
</div>
