.card-element {
  width: 500px;
  height: 100px;
  margin-top: 2rem;
}
.example-form-field {
  align-self: center;
  height: 60px;
}
.input-and-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
